# Exclude everything
*

# Include necessary files
!package.json
!package-lock.json
!turbo.json
!tsconfig.json
!tsconfig.base.json
!packages/api/package.json
!packages/api/src/**
!packages/api/tsconfig.json
!packages/ui/package.json
!packages/ui/src/**
!packages/ui/tsconfig.json
!packages/ui/tsup.config.ts
!packages/core/package.json
!packages/core/src/**
!packages/core/tsconfig.json
!packages/core/tsup.config.ts
!packages/portal/**
!packages/client/**
!packages/jobs/**
!packages/manager/**

# Exclude node_modules
**/node_modules
